{% comment %} {% extends "base.html" %}

{% block title %}ex_search.html{% endblock %}

{% block content %}
    <h1>입력창 테스트</h1>
    <br>

    <form action="." method="post"> {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>

    <br/><br/>

    {% if object_list %}
        {% for content in object_list %}
        <h2><a href='{{ Example.get_absolute_url }}'>{{ Example.content }}</a></h2>
        <p>{{ Example.content }}</p>
        {% endfor %}
        
    {% elif search_term %}
    <b><i>Search Word({{ search_term }}) Not Found !</i></b>
    {% endif %}
{% endblock %} {% endcomment %}