{% comment %} <li class="nav-item dropdown mx-1 btn btn-primary">
    <div class="dropdown-menu">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'myapp:search' %}">Search</a>
    </div>
</li> {% endcomment %}
{% comment %} <a class="dropdown-item" href="{% url 'myapp:search' %}">Search</a>

{% block title %}ex_search.html{% endblock %} {% endcomment %}

{% comment %} {% block content %}
    <h1>입력창 테스트</h1>
    <br>
    <form action="." method="post"> {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="입력" class="btn btn-primary btn-sm">
    </form>
    <br/><br/>
    
    <br>
    

    {% if object_list %}
        {% for content in object_list %}
        <h2><a href='{{Example.get_absolute_url }}'>{{Example.content}}</a></h2>
        <p>{{Example.content}}</p>
        {% endfor %}
        
    {% elif search_term %}
    <b><i>Search Word({{ search_term }}) Not Found !</i></b>
    {% endif %}
{% endblock %} {% endcomment %}